= form_for @device, :html => { :class => "form-horizontal" } do |f|
  = render(partial: 'shared/form_error', object: @device)
  .field.control-group
    .control-label
      = f.label :name
    .controls
      = f.text_field :name
  .field.control-group
    .control-label
      = f.label :device_type_id
    .controls
      = f.select :device_type_id, DeviceType.all.collect { |dt| [dt.name, dt.id] }
  .field.control-group
    .control-label
      = f.label :options
    .controls
      = f.text_field :options
  .field.control-group
    .control-label
      = f.label :description
    .controls
      = f.text_field :description
  .actions.control-group
    .controls
      = f.submit :class => "btn btn-primary"
