.span3
  - if defined? @actions
    .well{:style => "max-width: 340px; padding: 8px 0;"}
      %ul{:class => "nav nav-list"}
        %li{:class => "nav-header"} #{t('c.actions')}
        - @actions.each do |a|
          %li= link_to a[:label], a[:path], a[:options]
  - if request.path_info.split('/')[1] == 'configure'
    .well{:style => "max-width: 340px; padding: 8px 0;"}
      %ul{:class => "nav nav-list", :id => "action_bar"}
        %li{:class => "nav-header"} #{t('c.sections')}
        = link_to_menu t('action_bar.elements'), elements_path, 2
        = link_to_menu t('action_bar.rooms'), rooms_path, 2
        = link_to_menu t('action_bar.devices'), devices_path, 2
        %li{:class => "divider"}
        = link_to_menu t('action_bar.element_types'), element_types_path, 2
        = link_to_menu t('action_bar.room_types'), room_types_path, 2
        = link_to_menu t('action_bar.device_types'), device_types_path, 2
        %li{:class => "divider"}
        %li
          %a{:href => "#"} #{t('c.help')}