%nav.top-bar.fixed.contain-to-grid
  %ul.title-area
    %li.name
      %h1
        = link_to t('navbar.title'), index_path
    %li.toggle-topbar.menu-icon
      %a{:href=>'#'}
        %span Menu
  %section.top-bar-section
    %ul
      %li
    %ul.right
      %li= link_to_menu " #{t('navbar.main')}", index_path, 'dashboard large'
      %li= link_to_menu " #{t('navbar.configure')}", configure_path, 'cogs large'
      %li= link_to_menu " #{t('navbar.torrent')}", 'http://goredar.dyndns.org:50000/', 'download-alt large'
      %li= link_to_menu " #{t('navbar.htpc')}", 'http://goredar.dyndns.org:50001/', 'film large'
      %li= link_to_menu " #{t('navbar.lightstock')}", 'http://goredar.dyndns.org:50002/', 'shopping-cart large'