<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('navbar.title'), index_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <%= link_to_menu t('navbar.main'), index_path %>
          <%= link_to_menu t('navbar.configure'), configure_path %>
          <%= link_to_menu t('navbar.torrent'), 'http://goredar.dyndns.org:50000/' %>
          <%= link_to_menu t('navbar.htpc'), 'http://goredar.dyndns.org:50001/' %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>