.small-11.columns.expand_all.updatable{id: room.name, data: {id: room.id, time: RoomsController.last_update[room.id].to_i}}
  %span.icobutton
    - unless full_view
      = link_to controller: :rooms, action: :show, id: room.id do
        %i.icon-scaleup.icon-large
    - else
      = link_to index_path do
        %i.icon-scaledown.icon-large
  - room.elements.each do |el|
    = link_to controller: :elements, action: :command, id: el.id, options: :switch, remote: true do
      = render partial: "rooms/#{room.name}/#{el.name}", locals: {el: el} rescue nil