.row
  .large-3.columns
    = render 'shared/side_nav'
  .large-6.pull-3.columns
    = form_for conf_item_form, :html => { :id => "#{conf_item_form.class}_#{conf_item_form.id}", :class => 'custom' } do |form|
      %fieldset
        %legend
          %span.label
            #{ @title }
        = render partial: 'shared/form_error', object: conf_item_form
        - Domo::VIEW_FIELDS.each do |item|
          = render(partial: 'shared/form_field', locals: { form: form, item: item }) if conf_item_form.respond_to? item
        %ul.button-group.even-2
          %li
            = link_to("#", { :class => 'button success small', :onclick=>"$(\"##{conf_item_form.class}_#{conf_item_form.id}\").submit()" }) do
              %i.icon-save.icon-large
              = t('c.save')
          %li
            = link_to({ :action => :index }, { :class => 'button small secondary' }) do
              %i.icon-circle-arrow-left.icon-large
              = t('c.back')