.row
  .large-3.columns
    = render 'shared/notice'
    = render 'shared/side_nav'
  .large-9.columns
    %h4 #{@title}
    %table.table
      %thead
        %tr
          %th #{t('.name')}
          %th #{t('.class_name')}
          %th #{t('.options')}
          %th #{t('.description')}
      %tbody
      - type_index.each do |type|
        %tr
          %td= link_to "#{type.name}", id: type, action: :edit
          %td= type.class_name
          %td= type.options
          %td= type.description