.row
  .large-3.columns
    = render 'shared/notice'
    = render 'shared/side_nav'
  .large-9.columns
    - sel=0
    - colored=true
    - (type_index.size/2+type_index.size%2).times do
      .row.element_container
        - colored=!colored
        - (type_index[sel,2]).each  do |type|
          - colored=!colored
          %div{ :class => "large-6 columns#{' colored' if colored}" }
            %span.label.name= type.name
            %span.class_name= type.class_name
            %span.options= type.options
            %span.description= type.description
        - sel += 2